.w-content
	background-color #fff 
	max-width 650px
	margin auto
	padding 20px
	box-sizing border-box
	img 
		max-width 100%
		height auto


.myboxlight		
	.box-overlay
		background-color peru		
	
	.close-boxlight
		background-color peru
		color #fff